@import url('https://fonts.cdnfonts.com/css/cascadia-code');

body {
  margin: 0;
  padding: 2px;
  background: #111;
}

canvas {
  position: absolute;
  touch-action: none;
  width: 100%;
  height: 100%;
  filter: blur(1.5rem);
  transform: scale(0.8);
  transform-origin: center;
  z-index: -1;
}

.window {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: 90vw;
  max-height: 90vh;
  padding: 5px;
  background-color: rgba(255, 255, 255, 0.8);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  overflow: auto;
  z-index: 1;
}

.title-bar {
  background-color: #008080;
  color: #ffffff;
}

.title-bar-text {
  padding: 5px 10px;
}

.window-body {
  padding: 10px;
}

.dos-prompt {
  font-family: 'Cascadia Code', sans-serif;
  color: #ffffff;
  font-size: 14px;
  margin: 0;
  background-color: #000000;
}

.dos-prompt::selection {
  background-color: #000000;
  color: #ffffff;
}

#command-line::before {
  content: '|';
  animation: blink-caret 0.75s infinite alternate;
}

@keyframes blink-caret {
  from, to {
    color: transparent;
  }
  50% {
    color: #ffffff;
  }
}

@media only screen and (max-width: 768px) {
  body {
    background: none;
  }

  .title-bar {
    position: sticky;
    top: 0;
    background-color: #008080;
    color: #ffffff;
    z-index: 2;
  }

  #sidebar {
    position: fixed;
    top: 0;
    left: -200px;
    width: 200px;
    height: 100%;
    background-color: #f4f4f4;
    transition: left 0.3s ease;
    z-index: 1;
  }

  #sidebar ul {
    list-style: none;
    padding: 0;
  }

  #sidebar ul li {
    padding: 10px;
  }

  #sidebar ul li a {
    color: #333;
    text-decoration: none;
  }

  .window-body {
    padding: 10px;
    margin-top: 40px;
  }
}
